#mobile-side-menu {
    position: absolute;
    width: 100%;
    background-color: #3b3838;
    z-index: 9999;
}

#mobile-side-menu ul {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #e7e6e6;
    font-size: 16pt;
    font-family: 'NanumSquareB', sans-serif;
    overflow-y: hidden;
}

#mobile-side-menu ul::-webkit-scrollbar {
    background-color: #f2f2f2;
}

#mobile-side-menu ul::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #f2f2f2;
    background-clip: padding-box;
    border: 4px solid transparent;
    cursor: pointer;
    -webkit-transition: background-color 0.5s;
}

#mobile-side-menu ul li {
    width: fit-content;
    margin: 0 auto;
    padding: 10px 15px;
    text-align: center;
    font-size: 11pt;
    white-space: nowrap;
}

#mobile-side-menu ul li a {
    color: #e7e6e6;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color 0.2s;
}

#mobile-side-menu ul li a:hover {
    color: #0070c0;
}

#mobile-side-menu ul li a.on {
    color: #0070c0;
    cursor: default;
}
